.body{
    margin-top: 40px;
}

.textGender {
    font-size: 14px;
}

.gender{
    position: absolute;
    margin-left: 100px;
    margin-top: 0.5px;
}

.judulLogin {
    width: 100%;
    margin-left: 100px;
}

.judul {
    margin-top: 10px;
    text-align: center;
    color: teal;
    font-family: Impact, fantasy;
    font-weight: 1000
}

.garis {
    width: 40%;
}

.form {
    width: 30%;
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: 15px;
}

.input {
    width: 300px;
}

.Card {
    width: 100%;
    background: whitesmoke;
    opacity: 1;
}

.checkbox {
    font-size: 13px;
}

.back{
    font-size: 15px;
    text-align: center;
}