.judul{
  text-align: center;
  color: teal;
  font-family: 'Anton', sans-serif;
  font-weight: 800px;
  margin-top: 20px;
}

.card{
  margin-bottom: 5px;
  background: whitesmoke;
  border-radius: 10px;
  width: 50%; 
}

.chat{
  font-family: 'Lobster', cursive;
}

.chat1{
  font-family: 'Lobster', cursive;
  text-align: right;
}

.headjumbot{
  background: whitesmoke;
  margin-bottom: 15px;
}

.jumbot{
  font-family: 'Lobster', cursive;
}

.foto{
  margin-left: 80%;
  position: absolute;
  margin-top: -160px;
}

.imagee{
  border-radius: 15px;
  margin-left: 50px;
}

.body{
  /* background: rgb(209, 213, 233); */

}